MAINNET_TARGET=ethereum
AGIALPHA_TOKEN_ADDRESS=0xA61a3B3a130a9c20768EEBF97E21515A6046a1fA
MAINNET_RPC_URL=DO_NOT_COMMIT_FILL_LOCALLY
MAINNET_DEPLOYER_PRIVATE_KEY=DO_NOT_COMMIT_FILL_LOCALLY
MAINNET_DEPLOYMENT_CONFIRMATION=TYPE_CONFIRMATION_LOCALLY_ONLY
